body {
    background-color: #d4c4a4;
    font-family: 'Proxima-Nova';
}


#mountain {
  max-width: 100%;
  position: relative;
}

#logo {
  max-width: 10%;
  position: absolute;
  top: 2%;
  left: 45%;
}

#main-nav {
  position: absolute;
  top: 6%;
  float: right;
  right: 8%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

li a {
  padding: 15px;
  font-weight: bold;
  color: #6f362d;
  letter-spacing: 4px;
}

li a:hover {
  text-decoration: none;
  color: #919642;
}

h1 {
  color: #5a7576;
  letter-spacing: 4px;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font: 30px;
}

.triple-d {
  text-align: center;
  margin-top: -70px;
  margin-bottom: 50px;
}

.icons {
  max-width: 43%;
}

.about {
  background-color: white;
}

#me {
  width: 100%;
  position: relative;
}

.about-text {
  max-width: 50%;
  padding: 25px 5% 25px 5%;
  font-size: 1.1vw;
  line-height: 2vw;
  text-align: left;
  color: #888888;
  position: absolute;
  right: 0;
  margin-top: -35%;
}

.resume {
  margin-top: -90px;
  text-align: center;
  height: 250px;
  position: relative;
  z-index: 100;
  margin-bottom: 6%;
}

.resume a {
  color: #6f362d;
}

.resume a:hover {
  text-decoration: none;
  color: white;
}


#resume {
  max-width: 12%;
}

.work {
  text-align: center;
}

.print{
  background-color: #919642;
}

.web{
  background-color: #ce542f;
}

.freelance{
  background-color: #5a7576;
}

.work-block {
  height: 350px;
  color: white;
  letter-spacing: 15px;
  font-size: 40px;
}

.work-block:hover {
  transform: scale(1.03);
  z-index: 100;
}

.type {
  text-align: center;
  vertical-align: middle;
  line-height: 350px;
  color: #d4c4a4;
}

.type:hover {
  color: #6f362d;
}

.contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.foot_bar{
  background-color: #c2d0bb;
  height: 10px;
}

.foot {
  background-color: #5a7576;
  height: auto;
  text-align: center;
  bottom: 0;
}

.social {
  max-height: 30px;
  display: inline-block;
  margin: 18px;
}

.copyright {
  padding-bottom: 10px;
  margin-bottom: 0;
}
